body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    
}

.background-image {
    background-image: url('https://img.freepik.com/free-photo/robot-hand-side-view-background-presenting-technology-gesture_53876-129764.jpg?t=st=1745167644~exp=1745171244~hmac=25f6e9f71ca7bc5f7333dfa98a510a5f4737a4a1e22a741b94117823222608f7&w=1380'); /* путь к изображению */
    height: 100vh; 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    background-color: rgba(0, 123, 255, 0.7); 
    padding: 50px;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 70px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

